svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SVG stroke length = 151.985595703125 */

.path {
    stroke-dasharray: 151.985595703125;
    stroke-dashoffset: 151.985595703125;
    animation: dash 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0,.5,8,.5);
    opacity: 1;
    stroke: url(#LinearGradient);
    stroke-width: 3.5;
    /*filter: drop-shadow(1px 1px .25px #7B7A72);*/
}

/*.path2 {*/
/*    stroke-dasharray: 151.985595703125;*/
/*    stroke-dashoffset: 151.985595703125;*/
/*    animation: dash 1.5s;*/
/*    animation-iteration-count: infinite;*/
/*    animation-timing-function: cubic-bezier(0,.5,8,.5);*/
/*    opacity: 1;*/
/*    stroke: url(#LinearGradient);*/
/*    stroke-width: 3.5;*/
/*    filter: drop-shadow(1px 1px .25px #7B7A72);*/

/*}*/

/*.uh {*/
/*    filter: drop-shadow(1px 1px .25px #7B7A72);*/

/*}*/

@keyframes dash {
    to {
        stroke-dashoffset: -151.985595703125;
    }
}

/*path {*/
/*    stroke: #BBB;*/
/*    fill: none;*/
/*    !*stroke-width: 8;*!*/
/*    stroke-linecap: round;*/
/*}*/

/*.infinity {*/
/*    stroke: #000;*/
/*}*/